<% provide(:title, 'Contact') %>

<h1>Contact of App</h1>
<p> ****** HAHAHAHAHAHHAA ***** </p>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
<p> ****** HEHEHEHEHHEHE ***** </p>