<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>
<p>****SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP****</p>
<p>****SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP****</p>
<p>****SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP****</p>
<p>****SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP****</p>
<p>****SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP****</p>
<p>****SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP SIGN UP****</p>
